<form action="/logout" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">

  <input type="submit" value="logout">
</form>

<div id="messages"></div>

<input id="chat-input" type="text"></input>

<div class="hidden" data-token='<%= %>'></div>