<!-- This site requires Javascript -->

<form action="/logout" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
  <input type="submit" value="logout">
</form>

<input id="chat-input" type="text"></input>

<div id="messages"></div>

<ul id="online-users"></ul>

<div id="direct-messages"></div>

<span id="page-authenticated" current-user-email='<%= current_user(@conn).email %>'></span>
